#chat-screen {
  background-color: #abc1d1;
  height: 100vh;
}
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  top: 0px;
  box-sizing: border-box;
  z-index: 1;
}

.main-chat {
  /* padding-top: 100px; */
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chat-room__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  animation: avatarAnimation 2s cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
  animation-delay: 1s;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.ma .message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
}

.message__author {
  margin-bottom: 5px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  margin-right: 5px;
  border-top-left-radius: 0px;
  font-size: 18px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}
.reply i {
  opacity: 0.5;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply__column input {
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding-left: 15px;
  transition: all 0.3s ease-in-out;
}
.reply__column button i {
  opacity: 1;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  top: 2px;
  right: -15px;
}
.reply__column:last-child > i {
  right: 25px;
  top: 10px;
}
.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

@keyframes avatarAnimation {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-40px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row .message__info {
  transform: translateX(-500px);
  animation: fadeLeft 1s linear forwards;
  animation-delay: 1s;
}

@keyframes fadeRight {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row--own .message__info {
  transform: translateX(500px);
  animation: fadeRight 1s linear forwards;
  animation-delay: 1.5s;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-11%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
