.icon-row {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--main-border);
  padding-bottom: 25px;
  margin-bottom: 20px;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row__icon i {
  font-size: 30px;
}
.icon-row__icon span {
  display: block;
  margin-top: 20px;
  font-size: 20px;
}
