@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

body {
  font-family: "Josefin Sans", sans-serif;
  height: 1000vh;
  color: #2e363e;
}
