header {
  padding: 20px 450px 20px 400px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__service {
  font-size: 18px;
  font-weight: 540;
  margin-left: 60px;
}

main {
  width: 100vw;
  height: 95vh;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu {
  width: 60vw;
  height: 60vh;
  /* background-color: tomato; */
  border: 1px dashed black;
}
.main-menu__box {
  color: white;
}
